/* Base Styles (extra small devices - mobile) */

html {}

body {
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #000000;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Inter, sans-serif;
    font-size: 30px;
    font-weight: 900;
    line-height: 37px;
    color: #FFFFFF;

    padding-left: 32px;
}

h2 {
    font-family: Libre Caslon Display, sans-serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 62px;
    color: #FFFFFF;

    margin: 32px;
}

h3 {
    font-family: Inter, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    color: #000000;

    margin-top: 78px;
    margin-left: 32px;
    margin-bottom: 78px;
}

#top-section {
    background-image: url(Background\ image.svg);
    height: 1024px;
    background-size: cover;
    background-position: center;
}

#navbar {
    display: flex;
    width: 100%;
}

#hamburger-menu {
    padding-left: 112px;
    padding-right: 32px;
}

#rectangle-3 {
    margin-top: 216px;
    margin-left: 32px;
}

.description {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    color: #FFFFFF;

    margin: 32px;
}

#button {
    font-family: Inter, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    text-align: center;

    width: 120px;
    margin-left: 32px;
    padding: 9px 28px;
}

.date {
    font-family: Inter, sans-serif;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    color: #B7B7B7;
    text-align: start;
    margin-bottom: 28px;
}

#bottom-section {
    display: flex;
    flex-direction: column;
    max-width: 375px;
}

#detail {
    padding: 0 32px;
    max-width: 247px;
    width: 100%;
}

#newscard {
    justify-content: center;
    margin: 16px 32px 32px 32px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

#french-portrait {
    margin-bottom: 35px;
}

#picasso-portrait {
    margin-bottom: 35px;
}

#venice-portrait {
    margin-bottom: 35px;
}

.cta {
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #D9852C;

    margin: 18px 40px 32px 160px;
    width: 100%;
}

.navbar-menu {
    display: none;
}

/* Small devices (tablets) */
@media screen and (min-width: 576px) {
    #top-section {
        background-image: url(Background\ image\ 2.svg);
    }

}

/* Medium devices (laptops) */
@media screen and (min-width: 768px) {
    #hamburger-menu {
        display: none;
    }

    .navbar-menu {
        display: inline;
        margin-right: 35px;
        margin-top: 24px;

        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
    }

    h1 {
        margin-right: 490px;
    }

    #menu-button {
        border: 2px solid #FFFFFF;
        padding: 8px;

        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
    }

    h2 {
        max-width: 748px;
        color: #FFF;
        font-family: Libre Caslon Display, sans-serif;
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .description {
        width: 528px;
        color: #FFF;
        font-family: Inter, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: 168.523%;
        /* 30.334px */
    }

    #bottom-section {
        display: flex;
        flex-direction: row;
        margin: 0 72px 0 72px;
    }

    #newscard {
        width: 419px;
        margin-right: 20px;
    }

    h3 {
    margin: 89px 1099px 44px 72px;
    }

}

/* Large devices (desktops) */
@media screen and (min-width: 992px) {
    /* CSS rules */
}

/* Extra large devices (large desktops) */
@media screen and (min-width: 1200px) {
    /* CSS rules */
}